@charset "utf-8";

body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
#main{
    padding: 30px 50px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-size: 1330px;
    background: no-repeat;
    background-color: #edf1fd;
} 
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2.5px;
    font-family: calibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    background-color:  rgb(46,141,230);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
    border-radius: 20px;

}

.navigation-bar{
    display: flex;
    list-style: none;
}
.navigation-bar a{
    padding: 10px 15px;
    color: black;
    font-size: 16px;
}
.logo {
    font-size: 25px;
    font-weight: bolder;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo font{
    color: #ffffff;
}
.active a,
.navigation-bar li a:hover{
	background-color:#292929;
	color:#FFF!important;
	font-weight: bold;
	transition: all ease 0.4s;
}
.bg-img{
    display: flex;
}
.bg-image img{
    width: 100%;
    height:500px;
    margin-top: 120px;

}
.bg-image p{
    font-size: 18px;
    word-spacing: 2.5px;
    font-family: Arial, Helvetica, sans-serif;
    height: 2px;
}
#about{
    width: 100%;
    height: 120vh;
    background-color: blanchedalmond;
    box-sizing: border-box;
    padding: 30px 50px;
}
img.align-right {
    float: right;
    width: 300px;
    height: 250px;
    border-radius: 30px;
    left: 20%;
}
.S2-Content{
    font-size: 18px;
    word-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
.utube iframe{
    width: 100%;
    height: 350px;
}
#portfolio{
    width: 100%;
    height: 80vh;
    background-color: #edf1fd;
    box-sizing: border-box;
    padding: 30px 50px;
}
.p-img{
    float: left;
    margin-right: 10px;
    width: 320px;
    size: 100px;
}
.portfolio-contnet{
    font-size: 18px;
    word-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Contact us */
#Contact-us{
    width: 100%;
    height: 120vh;
    background-color: blanchedalmond;
    box-sizing: border-box;
    padding: 30px 50px;
    display: flex;
    flex-direction: column

}
fieldset {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #d6d6d6;
    background-color: #ffffff;
    line-height: 1.6em;
}
legend {
    font-style:italic;
    color:#666666;}
input[type="text"] {
    width: 120px;
    border: 1px solid #d6d6d6;
    padding: 2px;
    outline: none;}
input[type="text"]:focus,
input[type="text"]:hover {
    background-color: #d0e2f0;
    border: 1px solid #999;}
textarea{
    width: 20% !important;
    height: 120px;
    outline: none;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 16px;
    }
input[type="submit"] {
    border: 1px solid #006633;
    background-color: #009966;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;}
input[type="submit"]:hover {
    border: 1px solid #006633;
}
.map iframe{
    margin-top: 20px;

}
.map-img{
    width: 100%;
    height: 250px;
}
/* footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  rgb(46,141,230);
    color: black;
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
 }