body{
    background-color: brown;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-family: cursive;
    font-size: 7em;
}
button{
    padding: 10px 50px;
    background-color: burlywood;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    border-radius: 15px;
    border: none;
    margin: 15px;
}
button:focus{
    outline: none;
}
button:hover{
    background-color: rgb(163, 95, 7);
    color: cornsilk;
}
input{
    width: 20rem;
    height: 2.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    margin: 1.2rem;
}