body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#main-section{
    padding:30px 50px;
	position:relative;
	width:100%;
	height: 100vh;
	box-sizing: border-box;
	background-size: 1330px;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-image: url("../images/bg.png");
	background-color: #edf1fd;
}
nav{
    display:flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: calibri;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	box-sizing: border-box;
	padding: 10px 50px;
	background-color:#F4F7FF;
	box-shadow:2px 2px 12px rgba(0,0,0,0.05); 
	z-index: 1;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 10px 25px;
    font-size: 13px;
    color: rgb(141, 141, 141);
}
.lang{
    color: rgb(71, 71, 71);
}
.logo{
    font-size: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(71, 70, 70);
}
.toggle{
	display: none;
}
.active a,
.menu li a:hover{
    background-color: #292929;
    font-weight: bold;
    color: #FFF;
    transition: all ease 3s;
}
.my-detail{
    font-family: calbri;
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
}
.my-detail p{
    color:#6c707c;
	font-size: 16px;
}
.my-detail h1{
    font-family:Poppins;
	font-size: 40px;
	margin:0px;
	letter-spacing: 3px;
	color:#292929;
}
.cv-btn{
    width: 200px;
    height: 45px;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.cv-btn:hover{
	background-color: #131313;
    transition: ease all 3s;
}
.social{
	position: absolute;
	left: 200px;
	bottom: 50px;
	display: flex;

}
.social a{
	margin: 6px 12px;

}
.social i{
	color:rgba(18,17,17,0.40);
	font-size: 14px;
}
.social a:hover i{
	color:#17d1ac;
	transition: all ease 0.5s;
}
/* about section */
#about-section{
    width: 100%;
    height: 100vh;
    background-color: #161616;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5% 0px 5%;
    position: relative;
}
.about-text{
    font-family: calbri;
    width: 50%;
}
.about-text h1{
    color: rgb(78, 238, 185);
    font-size: 5rem;
}
.about-text h2{
    font-size: 3rem;
    color: #FFF;
    font-weight: 400;
}
.about-text h1,h2{
	margin: 0px;
	padding: 0px;
}
.about-text p{
	font-size: 1.2rem;
	color:rgba(255,255,255,0.90);
}
.about-text button{
	width: 180px;
	height: 40px;
	border-radius: 20px;
	border: none;
	background-color:#17d1ac;
}
.about-text button:hover{
	background-color: #FFFFFF;
	transition: all ease 0.3s;
    cursor: pointer;
}
/* Portfolio Section */
#portfoli-section{
    width: 100%;
    box-sizing: border-box;
    font-family: calbri;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px 2% 20px 2%;
}
.p-heading{
    font-family: calibri;
    font-size: 1.1rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #292929;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}
.p-box{
    background-color: #1f1f1f;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    position: relative;
}
.p-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.p-container{
    width: 90%;
    height: 70vh;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}
.overlay-text{
    font-family: calbri;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(23, 209, 170, 0.80);
    display: none;
}
.overlay-text h1,p{
    color: #FFFFFF;
}
.overlay-text h1{
    font-size: 2.2rem;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
}
.overlay-text p{
    font-size: 1.2rem;
    margin: 0px;
}
.p-box:hover .overlay-text{
    display: flex;
}
/* Contact-form */
#contact-form{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-form form{
    display: flex;
    width: 70%;
    height: 60vh;
    background-color: #1A1A1A;
    box-shadow: 2px 12px 20px rgba(0, 0,0, 0.2);
    border: 1px solid rgba(red, green, blue, 0.01);
}
.left-form{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-form{
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(255,255,255,0.08) ;
}
.right-form button{
    width: 100%;
    height: 50px;
    background-color: #1ED98B;
    font-weight: bold;
    border: none;
    margin: 0px;
    color: #1b1b1b;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.c-heading{
    font-family: calibri;
    color: #FFFFFF;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 400;
}
.f-name,.f-email{
	display: flex;
	flex-direction: column;
	font-family: calibri;
	
}
.f-name font,.f-email font{
	color:#BFBFBF;
	font-size: 22px;
}
.f-name input,.f-email input{
	height: 30px;
	width:250px;
	border: none;
	outline: none;
	background-color:transparent;
	border-bottom: 1px solid #929292;
	color:#FFFFFF;
	margin: 10px 0px;
}
.f-email input::placeholder,
.f-name input::placeholder{
	opacity: 0.5;
	letter-spacing: 1px;
}
.f-email input:focus,
.f-name input:focus{
	border-bottom: 1px solid #17d1ac;
	transition: all ease 0.5s;
}.message font{
	font-size: 18px;
	color:#4E4E4E;
	font-family: calibri;
}
.message{
	margin: 20px;
}
.right-form textarea{
	width: 100%;
	height: 320px;
	border: none;
	outline: none;
	background-color:transparent;
	box-sizing: border-box;
	color:#EBEBEB;
	font-size: 16px;
}
.right-form textarea::placeholder{
	color:#EBEBEB;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: calibri;
}
/* Exper section */
#Experties{
    width: 100%;
    height:100vh;
    box-sizing: border-box;
    font-family: calbri;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 20px;
}
.s-box{
	background-color: #2B2B2B;
	width:350px;
	height: 500px;
	margin: 20px;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    
}
.s-b-img{
    width: 100%;
    height: 70%;
}
.s-b-img img{
	width:100%;
	height: 100%;
	
}
.s-type{
	font-family: calibri;
	color:#FFFFFF;
	background-color: #151515;
	padding: 10px 15px;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 18px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.s-box:hover{
	transform:translateY(-10px);
	transition: all ease 0.3s;
	
}
.page-footer{
    background-color: #1ED98B;
    box-sizing: border-box;
}
@media(max-width:600px){
.p-container{
	grid-template-columns:1fr ;
	grid-template-rows: auto;
}
.c-b-heading{
	font-size: 1.2rem;
	text-align: center;
	margin: 0px 10%;
}
.name{
	width:60%;
}
.social{
	left: 30px;
	transform: translateX(-10px);
}
}
@media(max-width:400px){
.s-box{
    width: 100%;
    height:400px;
}
}